@page "/contact"
@{
    ViewData["Title"] = "Kontakt";

	Models.ContactModel contactModel = new Models.ContactModel();
}

<div class="carContainerContact">
    <div class="leftSectionContact">
        <img src="/CarImages/HeroBanner.webp"
             alt="Contact Us"
             class="heroImageContact" />
    </div>

    <div class="rightSectionContact">
        <h3>RUND UM DIE UHR</h3>
        <h1>Kontaktiere uns</h1>
        <p>Du hast noch offene Fragen? kein Problem. Unser Service wird dir schnellstmöglich weiterhelfen!</p>

        <p><i class="bi bi-geo-alt-fill"></i> <span>@projectInfo.Value.Address</span></p>
        <p><i class="bi bi-envelope-fill"></i> <span>@projectInfo.Value.Email</span></p>
        <p><i class="bi bi-telephone-fill"></i> <span>@projectInfo.Value.Whatsapp</span></p>

        <form method="post" class="contactForm">
            <div class="form-group">
                <label asp-for="@contactModel.Name"></label>
                <input asp-for="@contactModel.Name" placeholder="Name" class="inputFieldContact" />
                <span asp-validation-for="@contactModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@contactModel.Email"></label>
                <input asp-for="@contactModel.Email" class="inputFieldContact" placeholder="E-Mail Adresse" />
                <span asp-validation-for="@contactModel.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@contactModel.Message"></label>
                <textarea asp-for="@contactModel.Message" class="inputFieldContact" placeholder="Nachricht" rows="5"></textarea>
                <span asp-validation-for="@contactModel.Message" class="text-danger"></span>
            </div>

            <button type="submit" class="btn sendButton">Senden</button>
        </form>
    </div>
</div>

